[color]
	ui = auto
[commit]
	gpgsign = true
[credential]
	helper = store
[gpg]
	program = gpg2
[push]
	default = simple
[user]
	email = dragonmaus@posteo.net
	name = David Wildasin
	signingkey = 83E508D74AB21C0E93F66978AA12E1E891EF069C
