/.*history
/.ICAClient/
/.PlayOnLinux/
/.Xauthority
/.alephone/
/.angband/
/.bundle/
/.bzf/
/.cache/
/.clipboard
/.droid_assault*
/.dwarffortress/
/.esd_auth
/.factorio/
/.freedroidClassic/
/.gem/
/.gnupg/
/.java/
/.keychain/
/.lightyears.cfg
/.local/
/.mozilla/
/.oracle_jre_usage/
/.password-store/
/.pki/
/.rubies/
/.secret/
/.ssh/
/.stack/
/.steam*
/.terminfo
/.vendetta/
/.viminfo
/.weechat/
/.widelands/
/.wine/
/[A-Z]*
/bin/
/go/
/obj/
/sbin/
/tmp/
/xbin/
*+
*-
*.log
*.log.gz
*~
