/.*history
/.[A-Z]*
/.cache/
/.clipboard
/.dwarffortress/
/.esd_auth
/.gem/
/.gnupg/
/.gog/
/.mozilla/
/.pki/
/.stack/
/.steam*
/.vendetta/
/.viminfo
/.wine/
/[A-Z]*
/bin/
/etc/
/inc/
/obj/
/sbin/
/tmp/
/xbin/
*-
*.a
*.log
*.log.gz
*.old
