/.*history
/.ICAClient/
/.Xauthority
/.bundle/
/.cache/
/.clipboard
/.dwarffortress/
/.factorio/
/.gem/
/.gnupg/
/.keychain/
/.local/
/.password-store/
/.pki/
/.rubies/
/.secret/
/.ssh/
/.stack/
/.terminfo
/.viminfo
/.weechat/
/.widelands/
/[A-Z]*/
/bin/
/go/
/obj/
/sbin/
/tmp/
/xbin/
*+
*-
*.log
*~
