/Pinta/
/QtProject.conf
/UDP Software/
/autostart/
/cef_user_data/
/chromium/
/dconf/
/gconf/
/gtk-2.0/
/keepassxc/
/libreoffice/
/menus/
/mimeapps.list
/mono.addins/
/naev/
/pulse/
/spring/
/syncthing/
/systemd/
/unity3d/
/user-dirs.*
